section {
    position: relative;
    width: 100%;
    height: 191px;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

section img {
    position: absolute;
    border: 5px solid #4b636e;
    border-radius: 8px;
    padding: 16px;
}

section img:first-of-type {
    background-color: #a7c0cd;
}